body {
    background-color: black;
    color: white;
}

#barra-superior {
    overflow: hidden;
    border:1px solid red;
}

#barra-superior ul {
    list-style: none;
}


#barra-superior ul li {
    position:relative;
    margin-right:10px;
    float:left;
}

#logo {
    width:50px;
    float:left;
    height: 50px;
}

#capa {
    width:100%;
}